.callout[data-callout="info"] {
    --callout-color: 36, 220, 76;
    --callout-icon: lucide-square-user-round;
}

.callout[data-callout="impacts"] {
    --callout-color: 36, 220, 76;
    --callout-icon: lucide-circle-alert;
}

.callout[data-callout="assets"] {
    --callout-color: 36, 220, 76;
    --callout-icon: lucide-sticky-note;
}

.callout[data-callout="legacies"] {
    --callout-color: 36, 220, 76;
    --callout-icon: lucide-square-stack;
}

.callout[data-callout="in-progress"] {
    --callout-color: 36, 220, 76;
    --callout-icon: lucide-copy-check;
}

.callout[data-callout="complete"] {
    --callout-color: 36, 220, 76;
    --callout-icon: lucide-book-open-check;
}

.callout[data-callout="bonds"] {
    --callout-icon: lucide-users-round;
    --callout-color: 36, 220, 76;

}

.callout[data-callout="gear"] {
    --callout-icon: clipboard-list;
    --callout-color: 36, 220, 76;

}

.callout {
    text-indent: 0em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    --list-indent: -.5em;
}